<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="HidistroSqlServer"/>
  <connectionStrings>
    <add name="HidistroSqlServer" connectionString="Data Source=47.111.251.253,1433;Initial Catalog=Dev.IceWeGoBizdb;User ID=sa;Password=kk01123456YYY" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--配置京东接口是否对接（已对接为“true”，未对接为“false”）-->
    <add key ="JDClientConnect" value="false"/>
    <!--配置超管租户ID-->
    <add key="SuperAdminTID" value="20181212094123343317716FB4845B9"/>
    <add key="netId" value="www.icewego.store"/>
    <!--appkey-->
    <add key="CirCleResult" value="false"/>
    <!--appkey-->
    <add key="appKey" value="C397A0F482FBC891CABC3CFCC6ECB4CB"/>
    <!--appsecret-->
    <add key="appSecret" value="af167e20aec74039b53e56089ee3daf0"/>
    <!--accessToken-->
    <add key="accessToken" value="f37d081a114b41d190716a794d26ea5am3zd"/>
    <!--提交地址-->
    <add key="ServerUrl" value="https://api.jd.com/routerjson"/>
    <add key="Kindeditor:BasePath" value="~/kindeditor/"/>
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx"/>
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx"/>
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx"/>
    <add key="Key" value="aPNHsZpgJxZl/feasO4zmA=="/>
    <add key="IV" value="FeufPK4fVv8zBDbBhDWglw=="/>
  </appSettings>
  <system.web>
    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="E0F5BE13358E9ADD83D435A3ADB1EFD723521E1D" decryptionKey="A616AC93EA38B47EB111039D73B6AD04934E83D2DF815A1A" validation="SHA1" decryption="3DES"/>
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true" validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <trace enabled="false" pageOutput="false"/>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="ResourceNotFound.aspx"/>
    </customErrors>
    <httpHandlers>
      <add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls"/>
      <add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls"/>
      <add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx"/>
      <add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins"/>
      <add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind"/>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="AutoDetect" slidingExpiration="true"/>
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost"/>
        <remove name="HttpGet"/>
        <remove name="HttpPostLocalhost"/>
        <remove name="Documentation"/>
        <remove name="Unknown"/>
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="40960" executionTimeout="3600" useFullyQualifiedRedirectUrl="true"/>
    <compilation debug="true"/>
  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
      <timeToleranceInSeconds value="3600"/>
    </security>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
    </handlers>
  </system.webServer>
</configuration>